.filter-input {
  display: flex;
  align-items: center;
  padding: 0.625rem;
  background-color: #45494d;
  border-radius: 0.25rem;
  color: var(--light-grey-color);

  input {
    background-color: #45494d;
    border: 0rem;
  }

  &:focus-within {
    background-color: #ffffff !important;
    border: 0.063rem solid #eaeef2;
    input {
      background-color: #ffffff !important;
      outline: none;
    }
  }
}
