/* You can add global styles to this file, and also import other style files */
@import "~material-icons/iconfont/material-icons.css";

:root {
  --light-grey-color: #8b8f93;
  --medium-grey-color: #292c2f;
  --dark-grey-color: #1a1c1d;
  --green-active-color: #00c471;
  --green-active-green-color: #009c5b;
}

* {
  font-size: 16px !important;
  font-family: "Inter";
}

.active {
  background-color: var(--green-active-color) !important;
}

.unactive {
  background-color: var(--medium-grey-color) !important;
}

@media only screen and (max-width: 1109px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex !important;
  }
}

/* Desktop styles - hide for mobile */
@media only screen and (min-width: 1110px) {
  .mobile {
    display: none;
  }
}
