.filter-button {
  background-color: #292c2f;
  color: white;
  border: 0.375rem;
  padding: 0.75rem, 1rem, 0.75rem, 1rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  min-width: 4.625rem;
  cursor: pointer;
  margin-right: 1.25rem;
  width: max-content;

  &:hover {
    background-color: #1a1c1d !important;
  }
}
